@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(231 229 228);
  color: rgb(28 25 23);
  [data-theme='dark'] & {
    background-color: rgb(28 25 23);
    color: rgb(250 250 249);
  }
}

ol,
ul,
blockquote {
  margin: 1.5rem 0;
  padding-left: 2rem;
}

p,
li {
  margin: 1rem 0;
}

ol {
  list-style-type: number;
}

ul {
  /* this is an en-dash */
  list-style-type: '– ';
}

hr {
  border-top: rgb(28 25 23) solid 1px;
  [data-theme='dark'] & {
    border-top: rgb(250 250 249) solid 1px;
  }
}

blockquote {
  font-style: italic;
}

code {
  color: rgb(120 53 15);
  padding: 0 0.25rem;
  [data-theme='dark'] & {
    color: rgb(254 243 199);
  }
}

pre {
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 1rem;

  /* don't want to break scroll for mobile */
  /* 4rem is the exact padding of content, but seems to be misaligned with scrollbar */
  /* so we center align */
  max-width: calc(100vw - 5rem);
  margin: 0 auto;
}

a {
  transition: color 150ms;
  color: rgb(120 53 15);
  &:hover {
    color: rgb(180 83 9);
  }

  [data-theme='dark'] & {
    color: rgb(254 243 199);
    &:hover {
      color: rgb(253 224 71);
    }
  }
}

h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  margin-top: 2.5rem;
  margin-bottom: 2.25rem;
}

h2 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  margin-top: 2.25rem;
  margin-bottom: 1.875rem;
}

h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  margin-top: 1.75rem;
  margin-bottom: 1.25rem;
}

h5 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  margin-top: 1.75rem;
  margin-bottom: 1.125rem;
}

h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
