---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site?.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="my-0 mx-auto max-w-2xl w-full">
    <h1 class="mb-16">About</h1>
    <figure
      class="mt-0 mx-auto mb-8 max-w-xs lg:float-right lg:-mt-12 lg:-mr-28 lg:mb-8 lg:ml-8"
    >
      <img
        class="rounded-lg mb-6"
        src="/assets/images/scandi-140.png"
        alt="Illustration of a squirrel"
        width="330"
      />
      <figcaption class="text-xs italic text-center lg:text-left">
        Illustration by <a
          href="https://icons8.com/illustrations/author/ZzX8QJV19tuE"
          target="_blank"
          rel="noopener">Maria Letta</a
        > from <a
          href="https://icons8.com/illustrations"
          target="_blank"
          rel="noopener">Ouch!</a
        >
      </figcaption>
    </figure>
    <p>
      There is a lot of educational content out there for software engineering,
      but much of it is targeted at helping people enter the industry as entry
      level. I created <strong>Squirrel Coders</strong> to help current entry and
      mid-level engineers reach the next level.
    </p>
    <h2>Why Squirrels?</h2>
    <p>I have ADHD. Squirrels seem to personify ADHD. They're also cute.</p>
    <h2>Want to contribute?</h2>
    <p>
      Please <a href="mailto:squirrelcoders@gmail.com">contact us</a>, or submit
      a pull request in <a href="https://github.com/pting-me/squirrelcoders"
        >GitHub</a
      >.
    </p>
  </div>
</BaseLayout>
