---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Squirrel Coders';
const description = 'Code like a squirrel.';
const permalink = Astro.site?.href ?? '/';
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div
    class="items-center flex flex-col flex-1 justify-center my-8 mx-0 md:flex-row"
  >
    <div class="flex-0 pb-8 text-center md:flex-1 md:pb-0 md:text-left">
      <h1 class="font-bold mb-2 leading-tight">
        Code like a squirrel.
      </h1>
      <p class="text-xl">
        Check out the <a href="/blog">blog</a>.
      </p>
    </div>

    <div class="my-0 text-center md:ml-8">
      <picture class="block min-h-fit">
        <source
          srcset="/assets/images/scandi-142.png"
          media="(min-width: 600px)"
        />
        <img
          class="w-full max-w-xl mb-4"
          alt="Illustration of a squirrel holding an acorn"
          src="/assets/images/scandi-142.png"
          width="550"
          height="466"
        />
      </picture>
      <p class="text-xs italic md:text-left">
        Illustration by <a
          href="https://icons8.com/illustrations/author/ZzX8QJV19tuE"
          target="_blank"
          rel="noopener">Maria Letta</a
        > from <a
          href="https://icons8.com/illustrations"
          target="_blank"
          rel="noopener">Ouch!</a
        >
      </p>
    </div>
  </div>
</BaseLayout>
