<div class="items-center flex my-4">
  <img
    class="w-24 h-24 rounded-full block mr-5"
    src="https://github.com/pting-me.png"
    alt="Headshot of Phil Ting"
  />
  <p>
    Hi, I'm <strong>Phil</strong>. I'm a software engineer based in Seattle. You
    can see some of my work on <a
      href="https://www.github.com/pting-me"
      target="_blank"
      rel="noopener">GitHub</a
    >.
  </p>
</div>
