<footer
  class="text-stone-600 dark:text-stone-300 text-xs my-4 mx-auto max-w-7xl py-4 px-8 text-center w-full"
>
  <span>
    &copy; {new Date().getFullYear()} Squirrel Coders. Powered by <a
      href="https://astro.build"
      target="_blank"
      rel="noopener">Astro</a
    >.
  </span>
</footer>
