---
import ThemeToggleButton from './ThemeToggleButton.svelte';
import clsx from 'clsx';

const { current = '' } = Astro.props;
const navLinkMap = [
  {
    page: '',
    displayName: 'Home',
  },
  {
    page: 'about',
    displayName: 'About',
  },
  {
    page: 'blog',
    displayName: 'Blog',
  },
];
---

<nav class="items-center flex flex-1 font-sans font-bold justify-end uppercase">
  {
    navLinkMap.map(({ page, displayName }) => (
      <a
        class={clsx(
          'p-1 block relative ml-5 transition-colors hover:text-amber-700 hover:dark:text-amber-300',
          page === current
            ? 'underline underline-offset-4 text-amber-700 dark:text-amber-300'
            : 'text-amber-900 dark:text-amber-100',
        )}
        href={`/${page}`}
      >
        {displayName}
      </a>
    ))
  }
  <div class="w-20">
    <ThemeToggleButton client:load />
  </div>
</nav>
