---
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <div
      class="flex flex-col min-h-screen font-serif bg-stone-100 text-stone-900 dark:bg-stone-900 dark:text-stone-50"
    >
      <Header current={current} />

      <main
        class="flex-1 relative my-0 mx-auto max-w-7xl py-4 px-8 flex flex-col"
      >
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
